.apollo[data-apollo="Dropdown"] {
    position: relative;
    display: inline-block;
}

.apollo[data-apollo="Dropdown"] button > span {
    display: flex;
    align-items: center;
}

.apollo[data-apollo="Dropdown"] button > span > span {
    padding: 0;
    transition: transform 400ms;
}

.apollo[data-apollo="Dropdown"] button {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.apollo[data-apollo="Dropdown"] button .apollo[data-apollo="Icon"] {
    transition: transform 300ms;
}