.autocomplete-root {
    width: 400px;
}
.search-wrapper {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.search-button {
    width: 1em;
    height: 1em;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50%;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-wrapper {
    max-height: 40vh;
    border: none;
    border-radius: 5px;
    z-index: 1300;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px,
        rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow-y: auto;
    overflow-x: auto;
}

.dropdown-option-wrapper {
    display: flex;
    flex-direction: row;
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.dropdown-option-icon {
    border-right: 1px solid #ccc;
}

.dropdown-option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}
