/* Absolute type LoadingState Container */
.apollo-component-library-loadingstate-component-container.absolute {
    position: absolute;
    z-index: 5;
    transition: opacity 300ms;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Inline type LoadingState Container*/
.apollo-component-library-loadingstate-component-container.inline {
    position: absolute;
    z-index: 5;
    transition: opacity 300ms;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: contents;
}


/* Absolute type LoadingState begins*/

.apollo-component-library-loadingstate-component.absolute {
    border: 16px solid #f3f3f3;
    z-index: 9999;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    animation: spin 2s linear infinite;
}

.apollo-component-library-loadingstate-component-backdrop.absolute {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
}


/* Absolute type LoadingState ends*/


/* Inline type LoadingState begins */

.apollo-component-library-loadingstate-component.inline {
    border: 16px solid #f3f3f3;
    z-index: 9999;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    display: flex;
    flex-direction: column;
    animation: spin 2s linear infinite;
}

.apollo-component-library-loadingstate-component-backdrop.inline {
    display: inline-block;
}


/* Inline type LoadingState ends */


/* LoadingState size begins*/

.small {
    width: 11px;
    height: 11px;
}

.medium {
    width: 60px;
    height: 60px;
}

.large {
    width: 120px;
    height: 120px;
}


/* LoadingState size ends*/


/* LoadingState Progressbar size begins*/

.progress.small {
    width: 25% !important;
    height: 25% !important;
}

.progress.medium {
    width: 50% !important;
    height: 50% !important;
}

.progress.large {
    width: 100% !important;
    height: 100% !important;
}


/* LoadingState Progressbar size ends*/


/* Absolute type LoadingState for progress varrient begins*/

.progress {
    border-radius: 20px;
    margin-top: 7%;
}

.apollo-component-library-loadingstate-component-progressbar {
    background-color: #e04542;
    height: 10px;
    position: relative;
    transition: width 2s ease-in-out;
}

.apollo-component-library-container {
    max-width: 100%;
}


/* Absolute type LoadingState for progress varrient ends*/


/* Inline type LoadingState for progress varrient begins */

.progress.inline {
    border-radius: 20px;
    margin-top: -1%;
    margin-left: 8%;
}

.apollo-component-library-loadingstate-component-progressbar.inline {
    background-color: #e04542;
    height: 10px;
    display: flex;
    flex-direction: column;
    transition: width 2s ease-in-out;
}


/* Inline type LoadingState for progress varrient ends */

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}