/* default props describe the general design of component */
.apollo-component-library-button {
    border: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: filter 300ms;
}

.apollo-component-library-button:hover {
    filter: brightness(90%);
}

.apollo-component-library-button:active {
    filter: brightness(75%);
}

/* variants should be defined as followed */
.apollo-component-library-button.default {
    background: #ff5757;
}

.apollo-component-library-button.secondary {
    background: #57aeff;
}
