/* Default Styling */
.apollo[data-apollo="Button"] {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: 0px solid #a4c8e4;
    transition: background 200ms ease-out, filter 200ms ease-out, outline 75ms;
}

.apollo[data-apollo="Button"]:active {
    filter: brightness(90%);
}

.apollo[data-apollo="Button"]:hover {
    filter: brightness(90%);
}

.apollo[data-apollo="Button"]:active {
    filter: brightness(80%);
}

.apollo[data-apollo="Button"]:disabled:hover {
    filter: brightness(100%);
}

.apollo[data-apollo="Button"].outline {
    background: transparent;
}

.apollo[data-apollo="Button"].outline:hover {
    filter: brightness(100%);
}

.apollo[data-apollo="Button"]:disabled {
    background: #edeff1;
    color: #98a7ad;
    cursor: not-allowed;
}

.apollo[data-apollo="Button"].outline:disabled {
    background: transparent;
    border-color: #edeff1;
    border-width: 2px;
    border-style: solid;
    color: #98a7ad;
    cursor: not-allowed;
}

.apollo[data-apollo="Button"].none {
    padding: 0;
    border-radius: none;
    cursor: default;
    background: none;
    outline: none;
    transition: none;
}

.apollo[data-apollo="Button"].none:hover {
    filter: brightness(100%);
}
