@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600&display=swap');

.sparta[data-sparta="Text"] {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

.sparta[data-sparta="Text"].h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.sparta[data-sparta="Text"].h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

.sparta[data-sparta="Text"].h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.sparta[data-sparta="Text"].disabled {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
