.apollo[data-apollo="Menu"] {
    border: 1px solid #EDEFF1;
    box-sizing: border-box;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 10px;
    padding: 5px 0;
    background: white;
    min-width: 100px;
    margin: 5px 0;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.apollo[data-apollo="Menu"] > div > ul {
    margin: 0;
    padding: 0;
}

.apollo[data-apollo="Menu"] div > nav > ul {
    margin: 0;
    padding: 0;
}

.apollo[data-apollo="Menu"] li {
    border-radius: 0;
    padding: 10px 16px;
}

.apollo[data-apollo="Menu"] li:hover {
    background-color: #EEF1F2;
    border-radius: 0;
}

.apollo-component-library-menu-component-inner {
    flex: 1;
}
