.apollo-component-libary-menu-component {
    background: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 0;
    border: 1px solid lightgray;
    max-width: 150px;
    background: white;
    min-width: 100px;
    margin: 5px 0;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.apollo-component-libary-menu-component > div > ul {
    margin: 0;
    padding: 0;
}

.apollo-component-libary-menu-component div > nav > ul {
    margin: 0;
    padding: 0;
}

.apollo-component-library-menu-component-inner {
    flex: 1;
}
