.apollo[data-apollo="DateSelect"] {
    position: relative;
}

.apollo[data-apollo="DateSelect"] > span.input {
    display: flex;
    align-items: center;
    border: 1.5px solid #E7EBEC;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    outline-width: 0px;
    outline-style: solid;
    transition: border 300ms, outline 75ms;
}

.apollo[data-apollo="DateSelect"] > span > span {
    padding: 0;
    transition: transform 300ms;
    padding-left: 5px;
    padding-right: 5px;
}

.apollo[data-apollo="DateSelect"] input {
    background: none;
    border: none;
    padding: 10px 14px;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

.apollo[data-apollo="DateSelect"] input:disabled {
    cursor: not-allowed;
}

.apollo[data-apollo="DateSelect"] > span.input:focus-within { 
    outline-width: 4px;
}

.apollo[data-apollo="DateSelect"].invalid > span.input {
    border: 1.5px solid #FDA29B;
}

.apollo[data-apollo="DateSelect"].invalid > span.input:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #a4c8e4;
}
