.apollo[data-apollo="Icon"] {
    user-select: none;
    margin: 0;
    border: 0;
}

.apollo[data-apollo="Icon"]:active {
    filter: brightness(80%);
}

.apollo[data-apollo="Icon"].clickable {
    background: transparent;
    transition: background 300ms, filter 300ms, color 300ms;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}
