.sparta[data-sparta="TextInput"] {
    font-size: 1rem;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1.5px solid #E7EBEC;
    border-width: 1.5px;
    border-style: solid;
    outline-width: 0px;
    outline-style: solid;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    transition: outline 75ms, border 300ms;
}

.sparta[data-sparta="TextInputLabel"] {
    padding-bottom: 15px;
}

.sparta[data-sparta="TextInput"]:focus {
    outline-width: 4px;
}

.sparta[data-sparta="TextInputLabel"] .sparta[data-sparta="TextInput"] {
    width: 100%;
    box-sizing: border-box;
}