.apollo-component-library-text-input {
    font-size: 1rem;
    border: none;
    outline: none;
    padding:  5px 10px;
    border-radius: 5px;
}

.apollo-component-library-text-input.default {
    border: 1px solid lightgray;
    box-shadow: 0px 0px 0px 0px red;
    transition: box-shadow 200ms;
}

.apollo-component-library-text-input.default:focus {
    box-shadow: 0px 2px 0px 0px red;
}

.apollo-component-library-text-input.secondary {
    border: 1px solid lightgray;
    box-shadow: 0px 0px 0px 0px lightblue;
    transition: box-shadow 200ms;
}

.apollo-component-library-text-input.secondary:focus {
    box-shadow: 0px 2px 0px 0px lightblue;
}