.sparta-component-library-alert-component {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 25px;
}

.sparta-component-library-alert-component.danger {
    background-color: #fdeded;
}

.sparta-component-library-alert-component.warning {
    background-color: #fff4e5;
}

.sparta-component-library-alert-component.info {
    background-color: #e5f6fd;
}

.sparta-component-library-alert-component.success {
    background-color: #edf7ed;
}