.apollo-component-library-modal-component-container {
    position: absolute;
    z-index: 5;
    transition: opacity 300ms;
    top: 0;
    left: 0;
}

.apollo-component-library-modal-component-container > div {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.apollo-component-library-modal-component {
    position: absolute;
    min-width: 300px;
    min-height: 200px;
    background: white;
    z-index: 1;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.apollo-component-library-modal-component-backdrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
}

.apollo-component-library-modal-component-body {
    flex: 1;
}

.apollo-component-library-modal-component-button-group {
    transform: translate(-15px, 15px);
    height: 45px;
    width: calc(100% + 30px);
    display: flex;
}

.apollo-component-library-modal-component-button-group-button {
    width: 100%;
    background: none;
    border: none;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    font-size: 1rem;
    transition: background 300ms;
    cursor: pointer;
}

.apollo-component-library-modal-component-button-group-button:hover {
    background: lightcoral;
}

.apollo-component-library-modal-component-button-group-button.secondary:hover {
    background: lightblue;
}

.apollo-component-library-modal-component-button-group-button:last-child {
    border-right: none;
    border-radius: 0 0 14px 0;
}

.apollo-component-library-modal-component-button-group-button:first-child {
    border-radius: 0 0 0 14px;
}