.sparta-component-library-button-group-button-component {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 300ms;
}

.sparta-component-library-button-group-button-component.large {
    padding: 15px 20px;
}

.sparta-component-library-button-group-button-component.medium {
    padding: 10px 15px;
}

.sparta-component-library-button-group-button-component.small {
    padding: 5px 10px;
}

.sparta-component-library-button-group-button-component:hover {
    filter: brightness(90%);
}

.sparta-component-library-button-group-button-component:active {
    filter: brightness(75%);
}

/* variants should be defined as followed */
.sparta-component-library-button-group-button-component.default {
    background: #ff5757;
    border-right: 1px solid #c43d3d;
}

.sparta-component-library-button-group-button-component.secondary {
    background: #57aeff;
    border-right: 1px solid #4395e2;
}

.sparta-component-library-button-group-button-component:first-child {
    border-radius: 15px 0 0 15px;
}

.sparta-component-library-button-group-button-component:last-child {
    border-radius: 0 15px 15px 0;
    border-right: none;
}

.sparta-component-library-button-group-button-component:disabled {
    background: lightgray;
    border-right: 1px solid gray;
    cursor: default;
}

.sparta-component-library-button-group-button-component:disabled:last-child {
    border-right: none;
}

.sparta-component-library-button-group-button-component:disabled:hover {
    filter: brightness(100%);
}
