.sparta[data-sparta-id='TableWrapper'] > table {
    border-collapse: collapse;
}

.sparta[data-sparta-id='TableWrapper'] > div {    
    border-top: 2px solid #eef1f2;
    padding: 12px 20px;
}

.sparta[data-sparta-id='TableWrapper'] > div > button {    
    padding: 8px 10px;
}

.sparta[data-sparta-id='TableWrapper'] {
    box-shadow: 0 0 0 1.5px #EAEDEE;
    border-radius: 10px;
}

.sparta[data-sparta-id='TableWrapper'].has-columns > table {
    display: grid;
}

.sparta[data-sparta-id='TableWrapper'].has-columns thead,
.sparta[data-sparta-id='TableWrapper'].has-columns tbody,
.sparta[data-sparta-id='TableWrapper'].has-columns tr {
    display: contents;
}

.sparta[data-sparta-id='TableWrapper'] th {
    padding: 12px 24px;
    background: #eef1f2;
    color: #404654;
    font-weight: normal;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
}

.sparta[data-sparta-id='TableWrapper'] th > span,
.sparta[data-sparta-id='TableWrapper'] td > span {
    display: flex;
}

.sparta[data-sparta-id='TableWrapper'] th > button {
    color: inherit;
}

.sparta[data-sparta-id='TableWrapper'] td {
    padding: 12px 24px;
    font-weight: normal;
    box-sizing: border-box;
}

.sparta[data-sparta-id='TableWrapper'] td.left,
.sparta[data-sparta-id='TableWrapper'] th.left {
    text-align: left;
}

.sparta[data-sparta-id='TableWrapper'] td.right,
.sparta[data-sparta-id='TableWrapper'] th.right {
    text-align: right;
    justify-content: end;
}

.sparta[data-sparta-id='TableWrapper'] td.center,
.sparta[data-sparta-id='TableWrapper'] th.center {
    text-align: center;
}

.sparta[data-sparta-id='TableWrapper'].has-columns th.center,
.sparta[data-sparta-id='TableWrapper'].has-columns td.center  {
    align-items: center;
    justify-content: center;
}

.sparta[data-sparta-id='TableWrapper'].has-columns th {
    display: flex;
}

.sparta[data-sparta-id='TableWrapper'] th.center > button {
    transform: translate(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sparta[data-sparta-id='TableWrapper'] th.right > button { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sparta[data-sparta-id='TableWrapper'] th.center > span,
.sparta[data-sparta-id='TableWrapper'] td.center > span {
    justify-content: space-around;
}

.sparta[data-sparta-id='TableWrapper'] th.right > span, 
.sparta[data-sparta-id='TableWrapper'] td.right > span {
    justify-content: flex-end;
}

.sparta[data-sparta-id='TableWrapper'].has-columns td {
    display: flex;
    align-items: center;
}

.sparta[data-sparta-id='TableWrapper'] th:first-child {
    border-radius: 10px 0 0 0;
}

.sparta[data-sparta-id='TableWrapper'] th:last-child {
    border-radius: 0 10px 0 0;
}

/* sort styling */
.sparta[data-sparta-id='TableWrapper'] th > button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.sparta[data-sparta-id='TableWrapper'] th > button > span:first-child {
    padding-right: 5px;
}

.sparta[data-sparta-id='TableWrapper'] th > button > span:last-child {
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.sparta[data-sparta-id='TableWrapper'] th.active > button > span:last-child {
    opacity: 1;
}

.sparta[data-sparta-id='TableWrapper'] th.active.up > button > span:last-child {
    transform: rotate(180deg);
}

.sparta[data-sparta-id='TableWrapper'] th.inactive:hover > button > span:last-child,
.sparta[data-sparta-id='TableWrapper'] th.inactive:focus > button > span:last-child {
    opacity: 1;
}

/* grid styling */
.sparta[data-sparta-id='TableWrapper'].grid-horizontal tbody > tr > td,
.sparta[data-sparta-id='TableWrapper'].grid-both tbody > tr > td {
    border-bottom: 1.5px solid #eef1f2;
}

.sparta[data-sparta-id='TableWrapper'].grid-horizontal tbody > tr:last-child > td,
.sparta[data-sparta-id='TableWrapper'].grid-both tbody > tr:last-child > td {
    border-bottom: none;
}

.sparta[data-sparta-id='TableWrapper'].grid-vertical tbody > tr > td,
.sparta[data-sparta-id='TableWrapper'].grid-both tbody > tr > td {
    border-right: 1.5px solid #eef1f2;
}

.sparta[data-sparta-id='TableWrapper'].grid-vertical tbody > tr > td:last-child,
.sparta[data-sparta-id='TableWrapper'].grid-both tbody > tr > td:last-child {
    border-right: none;
}
