.apollo[data-apollo='Avatar'],
.apollo[data-apollo='Avatar'] img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline-width: 0px;
    outline-style: solid;
}

.apollo[data-apollo='Avatar'] > span {
    position: absolute;
}

.apollo[data-apollo='Avatar'].clickable {
    transition: outline-width 75ms, filter 300ms;
    cursor: pointer;
}

.apollo[data-apollo='Avatar'].clickable:focus {
    outline-width: 4px;
}

.apollo[data-apollo='Avatar'].clickable:active {
    filter: brightness(90%);
}

.apollo[data-apollo='Avatar'].small,
.apollo[data-apollo='Avatar'].small img {
    height: 32px;
    width: 32px;
}

.apollo[data-apollo='Avatar'].large,
.apollo[data-apollo='Avatar'].large img {
    height: 64px;
    width: 64px;
}
