.apollo[data-apollo="NavigationBar"] {
    display: flex;
    background-color: white; 
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
    position: relative;
}

.apollo[data-apollo="NavigationBar"] > div {
    display: flex;
    align-items: center;
    flex: 1;
}

.apollo[data-apollo="NavigationBar"] > div > ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    padding-left: 10px;
}

.apollo[data-apollo="NavigationBar"] .apollo[data-apollo="Dropdown"] > button {
    padding: 8px 14px;
}

.apollo[data-apollo="NavigationBar"] .apollo[data-apollo="Dropdown"] > button:hover {
    background-color: #A1EFC9;
}

.apollo[data-apollo="NavigationBar"].absolute {
    position: absolute;
}

.apollo[data-apollo="NavigationBar"].fixed {
    position: fixed;
}

.apollo[data-apollo="NavigationBar"].absolute {
    position: absolute;
}

.apollo[data-apollo="NavigationBar"].top {
    top: 0;
    left: 0;
}

.apollo[data-apollo="NavigationBar"].bottom {
    bottom: 0;
    left: 0;
}

.apollo[data-apollo="NavigationBar"]-title {
    padding-right: 10px;
    cursor: default;
    user-select: none;
}

.apollo[data-apollo="NavigationBar"]-title.clickable {
    cursor: pointer;
}

.apollo[data-apollo="NavigationBar"]-title.mobile {
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}