.apollo[data-apollo='Image'] {
    position: relative;
}

.apollo[data-apollo='Image'] > .apollo[data-apollo='View']:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background: #eef1f2;
    border-radius: inherit;
    transition: opacity 300ms;
    display: grid;
    align-items: center;
    justify-items: center;
}