.sparta[data-sparta='Accordion'] > button {
    background: white;
    border: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 10px 0;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: filter 300ms;
}

.sparta[data-sparta='Accordion'] > button:hover {
    filter: brightness(0.95);
}

.sparta[data-sparta='Accordion'] span {
    transition: transform 300ms ease;
}

.sparta[data-sparta='Accordion'] .open {
    transform: rotate(90deg);
}

.sparta[data-sparta='Accordion'] section {
    border-bottom: 1.5px solid #E7EBEC;
    transition: height 300ms;
    overflow: hidden;
    display: flex;
    align-items: center;
}