.sparta-component-library-group {
    border: none;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.sparta-component-library-group-wrapper.invalid {
    outline: 2px solid #c70000;
}

.sparta-component-library-group > legend {
    padding-inline-start: 0;
}